.selectedProvider{
    background: rgb(172, 172, 172);
}

.providerItem:hover{
    cursor: pointer;
    background: lightslategray;
    color: white;
    transition: ease 0.25s all;
}

p{
    border: solid 1px black;
    padding: 3px 6px
}

mat-list{
    padding: 8px 0 0;
}

.tableRows:hover{
    cursor: pointer;
    background: rgb(219, 219, 219);
    color: white;
    transition: ease 0.25s all;
}

.col-content-center{
    text-align: center;
}