<h2 mat-dialog-title>Ajouter un fournisseur</h2>
<mat-dialog-content>
    <app-input [label]="nameLabel" [id]="nameId" [name]="'name'" [(inputModel)]="providerName" [required]="true"></app-input>
    <div>
        <label>Fichier :</label>
        <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="updateFile($event.target.files)" accept=".csv" />
    </div>    

    <app-button [type]="'button'" (clickCusto)="cancelAddProvider()" [content]="cancelContentButton"></app-button>
    <app-button [type]="'submit'" (clickCusto)="onSubmit()" [content]="addProviderContentButton"></app-button>
</mat-dialog-content>

