<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
    <mat-progress-spinner [value]="loadFileProgression"></mat-progress-spinner>
    <div *ngFor="let categ of categs, index as categIndex">
        <mat-form-field>
            <mat-label>{{ categ }}</mat-label>
            <mat-select [(value)]="selected[categIndex]">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let element of headerOptions, index as i" [value]="i">{{ element }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <app-button [content]="validBtn_content" (clickCusto)="validBtn_click()"></app-button>
</mat-dialog-content>