<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
    <app-input [label]="providerNameInput_label" [id]="providerNameInput_id" [name]="providerNameInput_name" [(inputModel)]="providerNameInput_value"></app-input>
    <div>
        <label>{{ providerFileInput_label }}</label>
        <input type="file" #csvReader [name]="providerFileInput_name" [id]="providerFileInput_id" (change)="updateFile($event.target.files)" [accept]="providerFileInput_accept" />
    </div>
    
    <app-button [type]="'button'" (clickCusto)="cancelBtn_click()" [content]="cancelBtn_content"></app-button>
    <app-button [type]="'submit'" (clickCusto)="validBtn_click()" [content]="validBtn_content"></app-button>
</mat-dialog-content>