<div class="row">
    <div class="col-2">
        <app-place-provider-before></app-place-provider-before>
        <br/>
        <app-place-provider-after></app-place-provider-after>
    </div>
    <div class="col-8">
        <app-providers></app-providers>
    </div>
    <div class="col-2" [ngClass]="{ 'displayProviderActions' : providersService.getProviderActionVisible(), 'notDisplayProviderActions' : !providersService.getProviderActionVisible() }">
        <app-edit-provider></app-edit-provider>
        <br/>
        <app-delete-provider></app-delete-provider>
    </div>
</div>